# Ignore node_modules in root directory
/node_modules

# Ignore node_modules and .env in auth
auth/node_modules
auth/.env

# Ignore node_modules and .env in order
order/node_modules
order/.env

# Ignore node_modules and .env in product
product/node_modules
product/.env
